<!DOCTYPE html>
<html>
<head>
  <title>ConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Concert Network</h1>
</header>
<%= yield %>
  <footer>
    Ironhack - Powered by Ru
  </footer>

</body>
</html>
