<!DOCTYPE html>
<html>
<head>
  <title>ConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h2>Concert Network</h2>
</header>
<%= yield %>
  <footer class="footer">
    <h3>Ironhack - Powered by Ru</h3>
  </footer>

</body>
</html>
